body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        #todo-container {
            max-width: 400px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        #todo-list {
            list-style-type: none;
            padding: 0;
        }

        .todo-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .todo-item:last-child {
            border-bottom: none;
        }

        .todo-item input {
            margin-right: 10px;
        }

        .todo-item button {
            background-color: #069134;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 3px;
        }

        .todo-item .d1{
            background-color: #ff2600;
        }

        #add-task {
            display: flex;
            margin-top: 20px;
        }

        #new-task {
            flex-grow: 1;
            padding: 8px;
        }

        #submit-btn {
            background-color: #044e04;
            color: #fff;
            border: none;
            padding: 8px 15px;
            cursor: pointer;
            border-radius: 3px;
        }